#calculator {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 25%;
    margin: auto;
    align-items: center;
    border: solid;
}

#result,
#output {
    font-weight: bold;
    font-size: 2em;
    text-align: end;
    padding-right: 5px;
    overflow-y: hidden;
    overflow-x: scroll;
    white-space: nowrap;
    width: 18rem;
    height: 3rem;
}

#output {
    margin-top: 1em; 
    margin-bottom:0.5rem;
    border-style: solid;
}


#result {
    background-color: lightgray;
    border-style:groove
}

#zero {
    width: 9.2rem;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;

}

.row {
    display: flex;
    gap: 10px;
    margin-bottom: 5px
}

#clear,
#all-clear,
#equals,
.op-button,
.num-button {
    width: 4.2rem;
    height: 4.2rem;
    border-radius: 50%;
    border: solid;
    box-shadow: 5px 8px;
}

