body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url("assets/img/background.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    min-height:100vh;
    overflow-y:hidden;
}

header {
    display: flex;
    flex-wrap:nowrap;
    white-space: nowrap;
    overflow: hidden;
    justify-content: space-between;
    align-items: center;
    margin:1rem;
    font-size:30px;
}

#shop {
    width:100px;
    height:30px;
}

#content {
    display: flex;
    flex-direction: column;

}

#click-area-wrapper {
    display: flex;
    justify-content: center;
}


#click-area {
    display:flex; 
    justify-content: center;
    padding-bottom:50px
}

#pickaxe {
    width:200px;
}

#rock {
    width:200px;
    cursor:pointer
}

#click-message {
    border:solid;
    width:5rem;
    height:2rem;
    text-align:center;  
}



/*? ANIMATIONS */

@keyframes rotatePickaxe {
    0% {
        transform: rotate(0);
    }

    50% {
        transform: rotate(-90deg);
    }

    100% {
        transform:rotate(0)
    }
}

@keyframes slideInClickMessage {
    0% {
        transform: translateY(500px)
    }

    100% {
        transform:translateY(0)
    }
}

/*? UTILITY CLASSES */

.rotatePickaxe {
    animation: rotatePickaxe 0.02s;
    transform-origin: bottom;
}

.slideInClickMessage {
    animation: slideInClickMessage 0.2s;
}