
#content {
    display: flex;
    flex-direction: column;
    gap:20vh;
    align-items: center;
    height: 30vh;
    margin: 0; 
}

#click-tracker {
    font-size:30px;
}

#click-area {
    display:flex; 

}

#pickaxe {
    max-width:30%;
}

#rock {
    max-width: 30%;
    cursor:pointer
}



@keyframes rotatePickaxe {
    0% {
        transform: rotate(0);
    }

    50% {
        transform: rotate(-90deg);
    }

    100% {
        transform:rotate(0)
    }
}


.rotate {
    animation: rotatePickaxe 0.02s linear 0s forwards;
    transform-origin: bottom;

}