body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url("../assets/img/background.jpg");
    background-size: cover;
    min-height: 100vh;
    overflow-y: hidden;
}

header {
    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;
    overflow: hidden;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
    font-size: 30px;
}

#shop-open-button {
    width: 100px;
    height: 30px;
}

#shop-header {
    text-align: center;
}


#main-content {
    display: flex;
    flex-direction: column;
}


#click-area {
    display: flex;
    justify-content: center;
    padding-bottom: 50px
}

#rock-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

#click-message {
    display: flex;
    align-items: center;
    opacity: 0;
}

#plus-sign {
    font-size: 5rem;
    font-weight: 700;
}

#gem {
    width: 10rem;
    height: 10rem;
}


#rock {
    width: 200px;
    cursor: pointer
}

#pickaxe {
    width: 250px;
    height: 250px;
}


@keyframes rotatePickaxe {
    0% {
        transform: rotate(0);
    }

    50% {
        transform: rotate(-70deg);
    }

    100% {
        transform: rotate(0)
    }
}

@keyframes slideInClickMessage {
    0% {
        transform: translateY(300px);
        opacity: 0
    }


    100% {
        transform: translateY(0);
        opacity: 100%
    }
}

.rotatePickaxe {
    animation: rotatePickaxe 0.05s;
    transform-origin: bottom;
}

.slideInClickMessage {
    animation: slideInClickMessage 0.2s;
}